.Toolbar {
  max-width: 1600px;
  top: 0;
  left: 0;
  background-color: #161616;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  margin: auto;
  height: 56px;
  display: flex;
  align-items: center;
}

.Toolbar nav {
  height: 100%;
}



@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }

  .Toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}