.Toolbar {
  max-width: 1600px;
  width: 100%;
  top: 0;
  background-color: #161616;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  margin: auto;
  height: 56px;
  display: flex;
  align-items: center;
  position: fixed; 
  -webkit-box-shadow: 0 8px 6px -6px #4f4f4f;
  -moz-box-shadow: 0 8px 6px -6px #4f4f4f;
  box-shadow: 0 8px 6px -6px #4f4f4f;
}

.Toolbar nav {
  height: 100%;
}

.Logo {
  margin-right: 22px;
}

@media (max-width: 554px) {
  .DesktopOnly {
    display: none;
  }

  .Logo {
    margin-left: 18px;
  }
}

