.FullPost {
  margin: 40px 30px 0 30px;
}

.Error {
  padding-top: 50px;
  text-align: center;
  margin: 0;
  color: red;
}

.Image {
  width: 100%;
  height: 370px;
  position: relative;
  text-align: center;
  background: linear-gradient(rgba(28, 236, 200, 0), rgba(0, 0, 0, 0.6)),url("../../../assets/images/empty.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Title {
  margin: 0;
}

.Date {
  color: #7a7a7a;
  font-size: 1.7rem;
}

.Body {
  font-size: 1.8rem;
}

.Rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 50px;
}

.ThumbsUp {
  width: 20px;
  height: 20px;
  background: url("../../../assets/images/icons/thumbsUp.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: .3s ease;
}

.ThumbsDown {
  width: 20px;
  height: 20px;
  background: url("../../../assets/images/icons/thumbsDown.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: .3s ease;
  margin-left: 20px;
}

.ThumbsUp:hover {
  cursor: pointer;
  background: url("../../../assets/images/icons/thumbsUpInverted.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.ThumbsDown:hover {
  cursor: pointer;
  background: url("../../../assets/images/icons/thumbsDownInverted.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.Link {
  text-align: center;
  margin-top: 40px; 
  font-size: 1.8rem;
}

.Link a {
  color: black;
  transition: .3s ease;
}

.Link a:visited {
  color: black;
}

.Link a:hover {
  color: #7a7a7a;
}

@media(max-width: 815px) {
  .Date {
    text-align: center;
  }
}

@media(max-width: 555px) {
  .Rating {
    justify-content: center;
  }
}

@media (hover: none) {
  .ThumbsUp:hover {
    width: 20px;
    height: 20px;
    background: url("../../../assets/images/icons/thumbsUp.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .ThumbsDown:hover {
    width: 20px;
    height: 20px;
    background: url("../../../assets/images/icons/thumbsDown.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}