.FullPost {
  margin: 80px 30px 0 30px;
}

.Error {
  text-align: center;
  margin: 0;
  color: red;
}

.Title {
  margin: 0;
}

.Date {
  color: #7a7a7a;
  font-size: 1.7rem;
}

.Body {
  font-size: 1.8rem;
}

.Link {
  text-align: center;
  margin-top: 20px; 
  font-size: 1.8rem;
}

.Link a {
  color: black;
  transition: .3s ease;
}

.Link a:visited {
  color: black;
}

.Link a:hover {
  color: #7a7a7a;
}