.Section {
  border: 1px solid #cecece;
  box-shadow: 0 2px 3px #ccc;
  box-sizing: border-box;
  transition: .3s ease;
  color: #2d2d2d;
  height: 350px;
  box-sizing: border-box;
  margin: 10px;
  flex-basis: 25%;
  -ms-flex: auto;
  overflow: hidden;
  position: relative;
}

.Title {
  font-size: 2rem;
  font-weight: 600;
  color: #3a3a3a;
  background-color: #f9f9f9;
  padding: 20px;
  letter-spacing: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Icon {
  max-height: 25px;
  max-width: 25px;

  margin-right: 10px;
}

.Image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.85;
  transition: .3s ease;
  backface-visibility: hidden;
  display: block;
  margin: 0 auto;
}

.Image:hover {
  opacity: 0.3;
}

.Middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -30%);
  -ms-transform: translate(-50%, -30%);
  text-align: center;
}

.Text {
  font-size: 2rem;
  background-color: #e0e0e0;
  padding: 20px;
  opacity: 0.8;
}

.Section:hover .Middle {
  opacity: 1;
}

@media(max-width: 815px) {
  .Title {
    font-size: 1.4rem;
    letter-spacing: 3px;
  }
}

@media(max-width: 499px) {
  .Section {
    height: 250px;
  }

  .Section img {
    object-fit: cover;
  }
}