.Section {
  max-height: 400px;
  padding: 16px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  color: black;
  flex-grow: 1;
}

.Section img {
  width: 100%;
  max-width: 300px;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  opacity: 1;
  transition: .3s ease;
}

.Section:hover img {
  opacity: 0.3;
}
