.DrawerToggle {
  width: 40px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.DrawerToggle span {
  width: 80%;
  height: 4px;
  background-color: white;
  border-radius: 20px;
}

@media (min-width: 555px) {
  .DrawerToggle {
      display: none;
  }
}