.Logo {
  margin-right: 22px;
  margin-left: 20px;
  line-height: 65px;
}

.Logo img {
  height: 35px;
  vertical-align: middle;
}

@media (max-width: 708px) {
  .Logo {
    display: inline-block;   
  }
}