.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  min-width: 80px;
  font-size: 1.7rem;
  text-align: center;
  letter-spacing: 1px;
}

.NavigationItem a {
  color: #7a7a7a;
  text-decoration: none;
  Width: 100%;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #000;
}

@media (min-width: 500px) {
  .NavigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }
  
  .NavigationItem a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    transition: .3s ease;
  }
  
  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    background-color: #282828;
    border-bottom: 3px solid #1cecc8;
    color: white;
  }
}