.Button {
  background-color: #eaeaea;
  border: none;
  color: #000;
  font: inherit;
  padding: 10px;
  border: 1px solid #7e7e7e;
  font-weight: bold;
  margin: 20px;
  transition: .2s ease;
}

.Button:hover {
  background-color: #7e7e7e;
  color: white;
}

.Button:focus {
  outline: none;
}