.Sections {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.SectionLink { 
  flex-basis: 25%;
  -ms-flex: auto;
}

h1 {
  margin: 10px;
}

.Blog {
  min-height: 415px;
}

.Link a {
  transition: .3s ease;
  color: black;
}

.Link a:visited {
  color: black;
}

.Link a:hover {
  color: #7a7a7a;
}

@media(max-width: 1333px) {
  .SectionLink {
    flex-basis: 25%;
  }
}
@media(max-width: 1073px) {
   .SectionLink {
    flex-basis: 50%;
  }
}
@media(max-width: 815px) {
  .SectionLink {
    flex-basis: 50%;
  }
}
@media(max-width: 555px) {
  .SectionLink {
    flex-basis: 100%;
  }
}

@media(max-width: 499px) {
  h1 {
    text-align: center;
  }
}