.Blog {
  margin: 80px 30px 0 30px;
  text-align: center;
}

.ContainerTitle {
  letter-spacing: 5px;
}

.Posts {
  margin: 0 auto;
}

@media(max-width: 815px) {
  .Blog {
    margin: 80px 10px 0 10px;
  }
}