.Footer{
  Height: 100px;
  width: 100%;
  max-width: 1600px;
  position: absolute;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #161616;
}

.Left {
  margin-left: 30px;
}

.Right {
  display: flex;
  margin-right: 30px;
}

.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  font-weight: 800;
}

.NavigationItem {
  margin: 0;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
}

.NavigationItem a {
  color: white;
  height: 100%;
  padding-right:  20px;
  padding-bottom:  10px;
  padding-top:  10px;
  transition: .3s ease;
}

.NavigationItem a:hover {
  color: #7a7a7a;
}

.Copyright {
  color: white;
}

.Link {
  margin: 10px;
}

.Linkedin {
  width: 25px;
  height: 25px;
  background: url("../../../assets/images/linkedin.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: .3s ease;
}

.Linkedin:hover {
  background: url("../../../assets/images/linkedingray.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.Github {
  width: 25px;
  height: 25px;
  background: url("../../../assets/images/github.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: .3s ease;
}

.Github:hover {
  background: url("../../../assets/images/githubgray.png");
  background-repeat: no-repeat;
  background-size: contain;
}