.Post {
  padding: 0 10px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  box-sizing: border-box;
  color: black;
  transition: .3s ease;
}

a {
  text-decoration: none;
  flex-grow: 1;
}

.Post:hover,
.Post:active {
  background-color: #f2f2f2;
}

.Body {
  margin: 16px 0;
  text-decoration: none;
}

.Date {
  color: #7a7a7a;
}