.Post {
  min-width: 350px;
  padding: 16px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  color: black;
}

a {
  text-decoration: none;
  flex-grow: 1;
}

.Post:hover,
.Post:active {
  background-color: #d6d6d6;
}

.Body {
  margin: 16px 0;
  text-decoration: none;
}