.PostContainer { 
  display: flex;
  flex-basis: 25%;
  -ms-flex: auto;
}

.Post {
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  box-sizing: border-box;
  transition: .3s ease;
  color: black;
  max-height: 650px;
  box-sizing: border-box;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Post:hover,
.Post:active {
  background-color: #f2f2f2;
}

.ImageSection {
  height: 200px;
  border-bottom: 1px solid #cccccc;
  vertical-align: top;
}

.Image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.Header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Content {
  padding: 25px 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Title {
  color: #3a3a3a;
  margin-bottom: 5px;
  margin-top: 0;
  line-height: 1;
}

.Body {
  text-decoration: none;
  font-size: 1.8rem;
  text-align: left;
}

.Date {
  color: #7a7a7a;
  font-size: 1.7rem;
  margin: 10px;
}

.Link {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.9rem;
}

.Link a {
  transition: .3s ease;
  color: black;
}

.Link a:visited {
  color: black;
}

.Link a:hover {
  color: #7a7a7a;
}

.Rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ThumbsUp {
  width: 20px;
  height: 20px;
  background: url("../../assets/images/icons/thumbsUp.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: .3s ease;
}

.ThumbsDown {
  width: 20px;
  height: 20px;
  background: url("../../assets/images/icons/thumbsDown.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: .3s ease;
  margin-left: 20px;
}

.ThumbsUp:hover {
  cursor: pointer;
  background: url("../../assets/images/icons/thumbsUpInverted.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.ThumbsDown:hover {
  cursor: pointer;
  background: url("../../assets/images/icons/thumbsDownInverted.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media(max-width: 1333px) {
  .PostContainer {
    flex-basis: 25%;
  }

  .ThumbsUp, 
  .ThumbsDown {
    width: 15px;
    height: 15px;
  }
}

@media(max-width: 1073px) {
   .PostContainer {
    flex-basis: 50%;
  }
}

@media(max-width: 815px) {
  .PostContainer {
    flex-basis: 50%;
  }
}

@media(max-width: 555px) {
  .PostContainer {
    flex-basis: 100%;
  }
}

@media (hover: none) {
  .Post:hover,
  .Post:active {
    background-color: #fff;
  }

  .Link a:hover {
    color: black;
  }

  .ThumbsUp:hover {
    width: 20px;
    height: 20px;
    background: url("../../assets/images/icons/thumbsUp.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .ThumbsDown:hover {
    width: 20px;
    height: 20px;
    background: url("../../assets/images/icons/thumbsDown.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}